body {
    background-image: url("https://i.pinimg.com/originals/65/3a/91/653a912fceab7eb5de03b0a7b7135b4e.gif");
    background-repeat: no-repeat;
    background-size: cover;
}

h2 {
    text-align: center;
}
.container {
    max-width: 960px;
    margin: 0 auto;
}

.thumb {
    height: 10em;
}

.feature {
    max-height: 30ems;
}

label {
    display: block;
}

nav {
    margin: 0 auto;
    text-align: center;
}
